   <div class="container">
        <table class="master">
            <tr class="master-row">
                <table class="child">
                    <thead>
                        <tr>
                            <th class="class-first">
                                Group Truck Purchasing
                            </th>
                            <th class="class-second">
                                Consignee No
                            </th>
                            <th class="class-third">
                                <a href="/" class="link">SHOW MORE<i class="fa fa-caret-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>

                        </td>
                        <td>
                            1001, 1002, 1024, 1165, 1618, 1622, 2800, 2801, 2920, 2924, 4285, 4311, 4388, 4645, 7876,
                            9005,
                            31967, 31971, 31972, 32218, 35884
                        </td>
                        <td>

                        </td>

                    </tr>

                </table>
            </tr>
            <tr class="master-row">
                <table class="child">
                    <thead>
                        <tr>
                            <th class="class-first">Renault Trucks</th>
                            <th class="class-fivth">Consignee No</th>
                            <th class="class-first">Name</th>
                            <th class="class-first">Location</th>
                            <th class="class-third">
                                <a href="/" class="link">SHOW LESS<i class="fa fa-caret-up"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>                            
                       31971
                                </td>
                                <td>
                                    Renault Trucks SAS/Parts LYON
                                </td>
                                <td>
                                    VÉNISSIEUX, Lyon, France
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                              <br>
                            </tr>
                            <tr>
                                    <td>
            
                                    </td>
                                    <td>                            
                                   31971
                                            </td>
                                            <td>
                                                Renault Trucks SAS/Parts LYON
                                            </td>
                                            <td>
                                                VÉNISSIEUX, Lyon, France
                                            </td>
                                            <td></td>
                                        </tr>
                        </tbody>
        </table>
        </tr>

        <tr class="master-row">
            <table class="child">
                <thead>
                   <tr>
                        <th class="class-first">
                            Volvo Bus Corporation
                        </th>
                        <th class="class-second">
                            Consignee No
                        </th>
                        <th class="class-third">
                            <a href="/" class="link">SHOW MORE<i class="fa fa-caret-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>

                    </td>
                    <td>
                        1002, 1024
                    </td>
                    <td>

                    </td>

                </tr>

            </table>
        </tr>
        <tr class="master-row">
            <table class="child">
                <thead>
                    <tr>
                        <th class="class-first">
                            Volvo Construction Equipment
                        </th>
                        <th class="class-second">
                            Consignee No
                        </th>
                        <th class="class-third">
                            <a href="/" class="link">SHOW MORE<i class="fa fa-caret-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>

                    </td>
                    <td>
                        1002, 1024
                    </td>
                    <td>

                    </td>

                </tr>

            </table>
        </tr>
        </table>
    </div>

