        <div class="container">
            <h6>Environmental<i class="fa fa-exclamation-triangle"></i></h6>
        <span class="navinfo">ISO14001, Expiration date: 2018-09-14</span>
        <hr>
        <div class="">
            <div class="row">
                <div class="col-md-5 quality-sec">
                    <p>QualityCertification<i class="fa fa-exclamation-triangle"></i></p>
                    <p>ISO/TS 16949, Expiration date: 2018-09-14</p>
                    <p>ISO 9001, Expiration date: 2018-09-14</p>
                    <p>ISO 9002, Expiration date: 2007-12-16</p>
                    <p>QS9000, Expiration date: 2005-12-16</p>
                </div>
                <div class="col-md-7">
                    <div class="row grid-row-gap">
                        <div class="col-12">
                          <div class="span-font">
                          <span>ISO/TS 16949, Expiration date: 2018-09-14</span><br>
                          <span>Organization: Lloyd's Register LRQA</span><br>
                          <span>Registration number: 10007326</span><br>
                          <span>Registration date: 2016-11-15</span><br>
                          <span>Certificate File: CERTIFICATE_18_ISOTS 16949_2016-11-15.pdf</span>
                        </div>                                          
                        </div>                                        
                        <!-- Force next columns to break to new line -->
                        <div class="w-100"></div>   
                                                             
                        <div class="col-12">
                          <div class="span-font">
                            <span>ISO 9001, Expiration date: 2018-09-14</span><br>
                            <span>Organization: Lloyd's Register LRQA</span><br>
                            <span>Registration number: 10007343</span><br>
                            <span>Registration date: 2016-11-15</span><br>
                            <span>Certificate File: CERTIFICATE_18_ISOTS 16949_2016-11-15.pdf</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>