<app-layout >
  <div class="container home-container">
    <h5 class="display-6">Welcome, Salmabi Kutty &nbsp;&nbsp;&nbsp; &#124;&nbsp;&nbsp;&nbsp; Last Updated on Friday,
      July 13, 2018</h5>
    <div class="jumbotron">
      <div>
        <p>2016-11-18: New 2016 edition of the KEP 5&6</p>
        <p>The KEP 5 (Key Elements Procedures) provides information on the Volvo Group’s Environmental Policy and its
          requirements for the supplier co-operation. The new edition
          makes it clearer what the Volvo Group requires from its suppliers and the compliant supplier self-assessment
          questionnaires are updated to better cater for the
          diversity among the suppliers.</p>
        <p>The KEP 6 provides information on the Volvo Group’s requirements on ethical issues and appropriate business
          practices. As a member of the European Automotive
          Working Group on Supply Chain Sustainability and in line with general automotive industry practice, a common
          Self-assessment questionnaire has been developed to
          facilitate for the suppliers</p>
      </div>
    </div>
  </div>
  <div class="container fluid">
    <!-- Example row of columns -->
    <h4 class="display-5">Business Contacts</h4>
    
    <div class="row">
      <div class="col-md-2 home-span">
        <p>Volvo Aero Company</p>
        <a href="./">Anders Asplund</a>
      </div>
      <div class="col-md-2 home-span">
        <p>Volvo Bus Company</p>
        <a href="./">Support BUS Purchasing Process and IT</a>
      </div>
      <div class="col-md-3 home-span">
        <p>Volvo Construction Equipment</p>
        <a href="./">Support PnSM EU</a>
      </div>
      <div class="col-md-2 home-span">
        <p>Volvo Penta</p>
        <a href="./">Mattias Herner</a>
      </div>
      <div class="col-md-2 home-span">
        <p>GTP and Others</p>
        <a href="./">Support GPS Business Support Volvo IT</a>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</app-layout>