.home-span{
    border-right: 2px solid #495057;
    text-align: center;
}

.home-span p{
   font-size: 1rem;
   color:#495057;
   font-weight: 500;
}

.fluid{
  margin-top: 1%;
}



.navbar-nav {
    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .dropdown-menu {
      position: static;
      float: none;
    }
  }