<div class="sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <a href="Supplier-Info/Supplier" class="list-group-item active"><i class="fa fa-home"></i><span>Supplier</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-id-card"></i><span>Supplier Score Card</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-signal"></i><span>Performance Breakdown</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-dollar"></i><span>Supplier Spend</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i><span>Structure Spend</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i><span>Agreements</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-address-card"></i><span>Payment Terms</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-cog"></i><span>Tooling Inventory</span></a>
      <a href="#" class="list-group-item"><i class="fa fa-book"></i><span>Minutes and Action plans</span></a>
    </div>
  </div>