<div class="container">
    <div class="row item bottomline">
        <div class="col-sm-3">
                <div>Volvo Contstruction Equipment</div>
        </div>
        <div class="col-sm-7">
            <div>
                <div><span class="caption">Status: </span>Authorised</div>
                <div><span class="caption">Supplier Host: </span>Emmily Engstrom (5908)</div>
            </div>
            <div class="contact">
                    <div>Purchaser no: 5908, Department: CE27142</div>
                    <div>Tel: +46 470 387501 , Email: <a href = "mailto: emmily.engstrom@volvo.com">emmily.engstrom@volvo.com</a></div>
            </div>
            <div class="contact">
                    <div>Purchaser no: 5815, Andre Barbosa, Department: CE27742</div>
                    <div>Tel: +55 14 22129722 , Email: <a href = "mailto: andre.barbosa@volvo.com">andre.barbosa@volvo.com</a></div>
            </div>
        </div>
        <div class="col-sm-2">
           <div style="float: right;"><a class="anchor" href="#">SHOW LESS<span class="arrow-up"></span></a></div>
        </div>
    </div>
    <div class="row item bottomline">
            <div class="col-sm-3">
                    <div>Group Truck Purchasing</div>
            </div>
            <div class="col-sm-7">
                <div>
                    <div><span class="caption">Group Truck Purchasing Status:</span> Authorised</div>
                    <div><span class="caption">Supplier Host:</span> Yann Bouvet (48)</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div style="float: right;"><a class="anchor" href="#">SHOW MORE<span class="arrow-down"></span></a></div>
            </div>
        </div>
</div>